@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;   
}

body {
    font-family: "Roboto Slab", sans-serif;

}

.container {
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-left,
.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
    text-align: left;
    /* gap: 2em; */
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.content-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 350px;
}

img {
    margin: 50px;
    margin-right: 125px;
    width: 500px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    opacity: 0.7;
}

.sign-up {
    width: 100px;
    text-decoration: none;
    background-color: #3882f6;
    border: none;
    display: block;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    margin-top: 16px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 100px;
}

.card-color {
   border: 3px solid blue; 
   width: 200px;
   height: 200px;
   border-radius: 5px;
}

.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-card {
    text-align: center;
    font-size: 18px;
}

.container-three {
    background-color: #e5e7eb;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding: 10% 25%;
}

h3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 3em;
}